<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.game.advwars"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AdvanceWarsActivity"
        		  android:screenOrientation="landscape"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About"
        android:screenOrientation="landscape"
        android:label="@string/about_title"
        android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".MainMenu"
        android:screenOrientation="landscape"
        android:label="@string/main_menu_title">
        </activity>
        <activity android:name=".SinglePlayer"
        android:screenOrientation="landscape"
        android:label="@string/single_player_title">
        </activity>
        <activity android:name=".Multiplayer"
        android:screenOrientation="landscape"
        android:label="@string/multiplayer_title">
        </activity>
        <activity android:name=".UnderConstruction"
        android:screenOrientation="landscape"
        android:label="@string/under_construction_title">
        </activity>
        <activity android:name=".EnterPlayerName"
        android:screenOrientation="landscape"
        android:label="@string/enter_player_name_title">
        </activity>
        <activity android:name=".SelectPlayerName"
        android:screenOrientation="landscape"
        android:label="@string/select_player_name_title">
        </activity>
        <activity android:name=".FactionSelection"
        android:screenOrientation="landscape"
        android:label="@string/faction_selection_title">
        </activity>
        <activity android:name=".LeaderBoard"
        android:screenOrientation="landscape"
        android:label="@string/leader_board_title">
        </activity>
        <activity android:name=".MapSelection"
        android:screenOrientation="landscape"
        android:label="@string/map_selection_title">
        </activity>
        <activity android:name=".MultiplayerOptions"
        android:screenOrientation="landscape"
        android:label="@string/multiplayer_options_title">
        </activity>
        <activity android:name=".Settings"
        android:screenOrientation="landscape"
        android:label="@string/settings_title">
        </activity>
        <activity android:name=".SelectPlayerName"
        android:screenOrientation="landscape"
        android:label="@string/select_player_name_title">
        </activity>
        <activity android:name=".InvalidPlayerNameEntered"
        android:screenOrientation="landscape"
        android:label="@string/invalid_player_name_entered_title"
        android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".InvalidPlayerNameSelected"
        android:screenOrientation="landscape"
        android:label="@string/invalid_player_name_selected_title"
        android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>
</manifest>